/**
  * Arc
  *
  * @author jh3y - jheytompkins.com
*/
.loadingContainer:before {
  -webkit-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
  border-radius: 100%;
  border-top: 6px solid black;
  content: '';
  display: block;
  height: 50px;
  width: 50px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-top: 400px;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
