.done>#top>h1 {
  background: -webkit-linear-gradient(rgb(51, 255, 0), rgb(3, 243, 171));
  height: 37px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.during>#top>h1 {
  background: -webkit-linear-gradient(rgb(251, 255, 0), rgb(243, 139, 3));
  height: 37px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.todo>#top>h1 {
  background: -webkit-linear-gradient(rgb(3, 243, 243),rgb(47, 0, 255) );
  height: 37px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 30px;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  transform: translate(0, 30%)
}

