.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
.loginBackground {
  border-radius: 17px;
  height: 500px;
  width: 500px;
  margin-top: 20vh;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.59);
  form {
    margin-top: 50px;
    display: inline-grid;
    .loginLabel {
      margin: 25px 20px;
      max-width: 250px;
      height: 50px;
    }
  }

  .register {
    margin-top: 40px;
    height: 50px;
    width: 220px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 220% auto;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, #b00fb6 0%, #1100ff 51%, #ab51e8 100%);
  }
  .register:hover {
    background-position: right center; /* change the direction of the change here */
  }

  button:active {
    transform: scale(1.05);
  }

  .createAccountLink {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    .createAccount {
      margin-top: 40px;
    }
  }
}
}
