.userAccount {
  .account {
    float: right;
    padding: 30px;
    margin-right: 20px;
    appearance: none;
    border: none;
    outline: none;
    color: white;
  }
}
.taskInputContainer {
  text-align: center;
  display: block;
  height: 100px;
  margin-top: 40px;
  .taskInput {
    padding: 10px 28px 10px 12px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #0014ee;
    outline: none;
    width: 320px;
    height: 60px;
    background: transparent;
    color: #fff;
    font-size: 17px;
  }

  .submit {
    padding: 16px;
    border: none;
    height: 60px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
                    90deg,
                    rgb(83, 0, 246) 0%,
                    rgb(1, 13, 215) 100%
    );
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
  }

  .submit:active {
    transform: scale(1.1);
    transition: 0.1s;
  }
}
