.taskData {
    text-align: center;
    margin: auto;
    font-family: 'Raleway', sans-serif;
.taskDataContainer {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 10vh 5vh 2vh 0;
    border-radius: 15px;
    color: white;
    display: inline-block;
    max-width: 100%;
    width: 400px;
    max-height: 900px;
    .back {
        appearance: none;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
    }
    a:link {
        width: 40px;
        display: block;
        margin: 10px;
    }
        .arrowLeft {
            box-sizing: border-box;
            position: relative;
            display: block;
            width: 32px;
            height: 32px
        }

        .arrowLeft::after,
        .arrowLeft::before {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            left: 3px
        }

        .arrowLeft::after {
            width: 8px;
            height: 8px;
            border-bottom: 2px solid;
            border-left: 2px solid;
            transform: rotate(45deg);
            bottom: 7px
        }

        .arrowLeft::before {
            width: 16px;
            height: 2px;
            bottom: 10px;
            background: currentColor
        }
    .taskInfo{
        font-size: 25px;
        margin: 30px 20px;
        text-align: initial;
        word-break: break-word;
        .taskStatus{
            width: 150px;
            margin-left: 30px;
            color: white;
        }
    }
    .description {
        margin: 20px;
    }
        .optionsButtons {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
            .deleteButton {
                margin: 0 20px;
            }
            .saveButton {
                margin: 0 20px;
                width: 90px;
            }

            button:active {
                transform: scale(1.1);
                transition: 0.1s;
            }
        }
    }
}




























