.taskData {
    text-align: center;
    margin: auto;
    font-family: 'Raleway', sans-serif;
.taskDataContainer {
    background-color: rgba(0, 0, 0, 0.9);
    margin: 10vh 0 2vh 0;
    border-radius: 15px;
    color: white;
    display: inline-block;
    max-width: 100%;
    max-height: 900px;
    .back {
        appearance: none;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
    }
    a:link {
        width: 40px;
        display: block;
        margin: 10px;
    }
        .arrowLeft {
            box-sizing: border-box;
            position: relative;
            display: block;
            width: 32px;
            height: 32px
        }

        .arrowLeft::after,
        .arrowLeft::before {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            left: 3px
        }

        .arrowLeft::after {
            width: 8px;
            height: 8px;
            border-bottom: 2px solid;
            border-left: 2px solid;
            transform: rotate(45deg);
            bottom: 7px
        }

        .arrowLeft::before {
            width: 16px;
            height: 2px;
            bottom: 10px;
            background: currentColor
        }
    .taskDate {
        font-size: 25px;
        margin: 30px 20px 30px;
        word-break: break-word;
    }
    .taskInfo{
        font-size: 25px;
        margin: 30px 20px 30px;
        text-align: initial;
        word-break: break-word;
        .taskStatus{
            width: 150px;
            margin-left: 30px;
            color: white;
        }
        
        .mui {
            width: 223px;
        }

        .taskInput {
            margin-left: 5px;
            padding: 1rem;
            border-radius: 1rem;
            width: 300px;
            font-size: 25px;
            background-color: rgb(0, 0, 0);
            outline: none;
            color: white;
            border-color: white;
        }
    }
    form {
        display: inline-grid;
        .description {
            margin: 10px 30px;
            resize: none;
            background-color: #050505;
            border-color: #021a96;
            border-radius: 10px;
            border-width: 3px;
            height: 20vh;
            max-width: 100%;
            font-size: 30px;
            outline: none;
            color: white;
            font-family: 'Raleway', sans-serif;
        }
        .optionsButtons {
            display: flex;
            justify-content: space-between;
            margin: 20px 0 20px;
            .deleteButton {
                color: white;
                font-size: 17px;
                width: 110px;
                background-color: transparent;
                border-color: #f30808;
                border-radius: 8px;
                cursor: pointer;
                transition: 0.1s;
                margin-bottom: 10px;
                height: 35px;
                display: flex;
                align-items: center;
                    .trashIcon {
                        margin: 5px 0 0 20px;
                        box-sizing: border-box;
                        position: relative;
                        display: block;
                        transform: scale(var(--ggs,1));
                        width: 10px;
                        height: 12px;
                        border: 2px solid transparent;
                        box-shadow:
                                0 0 0 2px,
                                inset -2px 0 0,
                                inset 2px 0 0;
                        border-bottom-left-radius: 1px;
                        border-bottom-right-radius: 1px;
                        margin-top: 4px
                    }
                    .trashIcon::after,
                    .trashIcon::before {
                        content: "";
                        display: block;
                        box-sizing: border-box;
                        position: absolute
                    }
                    .trashIcon::after {
                        background: currentColor;
                        border-radius: 3px;
                        width: 16px;
                        height: 2px;
                        top: -4px;
                        left: -5px
                    }
                    .trashIcon::before {
                        width: 10px;
                        height: 4px;
                        border: 2px solid;
                        border-bottom: transparent;
                        border-top-left-radius: 2px;
                        border-top-right-radius: 2px;
                        top: -7px;
                        left: -2px
                    }
            }

            .saveButton {
                color: white;
                right: 0;
                bottom: 0;
                font-size: 17px;
                width: 150px;
                background: transparent;
                border-color: #610ADA;
                border-radius: 8px;
                cursor: pointer;
                transition: 0.1s;
                margin-bottom: 10px;
                height: 35px;
            }

            button:active {
                transform: scale(1.1);
                transition: 0.1s;
            }
        }
    }
    }
}
@media (max-width: 430px) {
    .taskInfo {
        display: initial;
        .mui {
            margin-left: 18px;
        }
    }
}
@media (min-width: 431px) {
    .taskInfo {
        .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
             margin-left: 30px;
             position: relative;          
             top: 20%;
             transform: translateY(-15%);
        }
        .css-1nrlq1o-MuiFormControl-root {
            margin-left: 30px;
            position: relative;          
            top: 20%;                    
            transform: translateY(-15%);
        }
    }
    .taskDate {
        .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
             position: relative;          
             top: 20%;                    
             transform: translateY(-15%);
        }
    }
}
