.background {
  background-image: url(../../../assets/registerBackground.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  height: 100vh;
  background-position: bottom;
  .joinUsContainer {
    font-size: 70px;
    text-align: center;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @keyframes moveInFromLeft {
      from {
        opacity: 0;
        transform: translateX(-100px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .joinUs {
      animation-name: moveInFromLeft;
      animation-duration: 1s;
      background-image: linear-gradient(to right, #5e00ff, #01c9f6);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
  }


  main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .registerForm {
      margin: 20px 20px;
      display: inline-grid;
      background-color: rgba(0, 0, 0, 0.59);
      border-radius: 17px;
      width: 450px;

      .registerLabel {
        margin: 20px 40px;
        height: 6vh;
      }
    }

    .registerButton {
      margin-top: 20px;
      height: 50px;
      border: none;
      width: 220px;
      border-radius: 20px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 220% auto;
      color: white;
      font-weight: bold;
      background-image: linear-gradient(to right, #b00fb6 0%, #1100ff 51%, #ab51e8 100%);
    }

    .registerButton:hover {
      background-position: right center;
    }

    .registerButton:active {
      transform: scale(1.05);
    }

    button:active {
      transform: scale(1.05);
    }

    .login {
      text-decoration: none;
      color: white;
      font-size: 15px;
      margin: 30px 0 20px;
    }
  }
}

@media only screen and (max-width: 446px) {
  .background > main .registerForm > .registerLabel {
    margin-bottom: 13%;
  }
}
