main {
  text-align: center;
  display: block;

  .registerForm {
    margin: 100px 20px;
    display: inline-grid;
    .registerLabel {
      margin: 0 0 40px;
    }
    .login {
      text-decoration: none;
      color: white;
      margin: 20px 0 20px;
    }
  }
  .registerButton {
    height: 50px;
    width: 220px;
    border-radius: 10px;
    transition: 0.2s;
    background-color: transparent;
    border-color: black;
    color: white;
    font-size: 18px;
  }
  button:active {
    transform: scale(1.05);
  }
}

