.errorContainer {
  width: 100vh;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 12vh;
  border-radius: 15px;
  text-align: center;
  a:link {
    width: 40px;
    display: block;
    margin: 10px;
  }
  .arrowLeft {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 32px;
    height: 32px
  }

  .arrowLeft::after,
  .arrowLeft::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px
  }

  .arrowLeft::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 7px
  }

  .arrowLeft::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor
  }
  .errorInformation {
    font-size: 40px;
    margin-top: 250px;
  }
}

