.userAccount {
  .account {
    float: right;
    padding: 30px;
    margin-right: 20px;
    appearance: none;
    border: none;
    outline: none;
    color: white;
  }
}
.taskInputContainer {
  text-align: center;
  display: block;
  height: 100px;
  .taskInput {
    padding: 1rem;
    border-radius: 1rem;
    border: solid 2px #6F00FFFF;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    outline: none;
    color: white;
    margin-top: 50px;
  }

  .submit {
    appearance: none;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(111, 0, 255), rgb(203, 3, 243));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: 600;
    transition: 0.1s;
  }

  .submit:active {
    transform: scale(1.1);
    transition: 0.1s;
  }
}
@media(min-width: 544px) {
  .taskInputContainer {
    margin-left: 7%;
  }
}