
body {
    background: #090d00;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Comfortaa', cursive;
}

/* BACKGROUND */

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


