.animation.animation {
  opacity: 1;
  transform: translate(0%);
  text-align: center;
  height: auto;
}
.taskContainer {
  transform: translate3d(-350px, 0, 0);
  transition-timing-function: linear;
  transition-duration: 0.2s;
  display: block;
  opacity: 0;

  .taskBody {
    font-size: 20px;
    margin: 5px 5px;
    padding: 25px 0;
    max-width: 32vh;
    width: 95%;
    background-color: #0000008f;
    border-radius: 10px;
    word-break: break-word;
    display: inline-flex;
    position: relative;
    .taskDetailsButton {
      .eye {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        padding: 0 15px;
      }
    }

    .statusContainer {
      border: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      padding: 0 15px;
      margin-top: 5px;
      z-index: 1;
    }
  }

  .animation.animation {
    opacity: 1;
    visibility: initial;
    transform: translate(0%);
    width: 202px;
    height: 45px;
  }
  .options {
    background-color: #0000008f;
    font-size: 15px;
    margin: 5px 0 0 50px;
    transform: translate3d(0, -70px, 0);
    transition-timing-function: ease;
    transition-duration: 0.5s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding-top: 18px;
    text-align: center;
    width: 202px;
    height: 18px;

    .delete {
      border: none;
      background-color: transparent;
      font-size: 17px;
      background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(243, 3, 183));
      font-weight: 600;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
      transform: translate(0%, -25%)
    }


    .todo {
      border: none;
      font-size: 17px;
      background: -webkit-linear-gradient(rgb(111, 0, 255), rgb(220, 0, 255));
      font-weight: 600;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
      transform: translate(0%, -25%)
    }

    .during {
      border: none;
      font-size: 17px;
      background: -webkit-linear-gradient(rgb(0, 255, 247), rgb(0, 255, 15));
      font-weight: 600;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
      transform: translate(0%, -25%)
    }

    .done {
      border: none;
      font-size: 17px;
      background: -webkit-linear-gradient(rgb(3, 243, 243), rgb(47, 0, 255));
      font-weight: 600;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
      transform: translate(0%, -25%)
    }

  }
}

