body {
    background-image: url(/assets/mainPageBackround.png);
    -webkit-background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 15px;
    height: 20px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #032cc2, #7202bb);
    border-radius: 50px;
}
::-webkit-scrollbar-track {
    background: #000000;
}
