body {
    background: #090d00;
    overflow-x: hidden;
}

/* BACKGROUND */

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.input {
    margin-top: 200px;
    margin-left: 760px;
}

#task-input,
#submit {
    appearance: none;
    border: none;
    outline: none;
    color: white;
}

#task-input {
    flex: 1 1 0%;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.726);
}

#submit {
    background-color: transparent;
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(111, 0, 255), rgb(203, 3, 243));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    transition: 0.1s;
}

#submit:active {
    transform: scale(1.1);
    transition: 0.1s;
}

.container {
    width: 100%;
    font-family: 'Comfortaa', cursive;
    display: inline-flex;
}

.todo {
    margin-left: 230px;
    margin-top: 100px;
    height: 500px;
    width: 300px;
    display: inline-block;
    -webkit-box-shadow: -1px 6px 34px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 6px 34px 6px rgba(0, 0, 0, 1);
    box-shadow: -1px 6px 34px 6px rgba(0, 0, 0, 1);
}

#top {
    color: white;
    width: 100%;
    height: 50px;
    background-color: #000000d0;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.done>#top>h1 {
    background: -webkit-linear-gradient(rgb(51, 255, 0), rgb(3, 243, 171));
    height: 27px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.during>#top>h1 {
    background: -webkit-linear-gradient(rgb(251, 255, 0), rgb(243, 139, 3));
    height: 37px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.todo>#top>h1 {
    background: -webkit-linear-gradient(rgb(3, 243, 243),rgb(47, 0, 255) );
    height: 37px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1 {
    font-size: 30px;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    transform: translate(0, 30%)
}

.during {
    margin-left: 230px;
    margin-top: 100px;
    height: 500px;
    width: 300px;
    display: inline-block;
    -webkit-box-shadow: -1px 6px 34px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 6px 34px 6px rgba(0, 0, 0, 1);
    box-shadow: -1px 6px 34px 6px rgba(0, 0, 0, 1);
}

.done {
    margin-left: 230px;
    margin-top: 100px;
    height: 500px;
    width: 300px;
    display: inline-block;
    -webkit-box-shadow: -1px 6px 34px 6px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 6px 34px 6px rgba(0, 0, 0, 1);
    box-shadow: -1px 6px 34px 6px rgba(0, 0, 0, 1);
}

.bottom {
    width: 100%;
    height: 300px;
    color: white;
    font-size: 25px;
}

#todofirst {
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Montserrat';
    padding: 25px 0;
    color: white;
    width: 285px;
    background-color: #0000008f;
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 5px;
    word-break: break-all;
    display: inline-flex;
    position: relative;
    z-index: 999;
}

.trash {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 999;
}

.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
            0 0 0 2px,
            inset -2px 0 0,
            inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}

.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}

.options {
    background-color: #0000008f;
    font-size: 15px;
    margin-top: -65px;
    margin-left: 310px;
    transform: translate3d(-260px, 0, 0);
    transition-timing-function: ease;
    transition-duration: 0.5s;
    display: block;
    opacity: 0;
    border-radius: 15px;
    padding-top: 18px;
    text-align: center;
    width: 202px;
    height: 48px;
}

.options.animation {
    opacity: 1;
    transform: translate(0%);
    width: 202px;
    height: 38px;
}

#delete {
    border: none;
    background-color: transparent;
    font-size: 17px;
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(243, 3, 183));
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}
#delete::after {
    content: '';
    width: 27%;
    height: 2px;
    position: absolute;
    border-radius: 4px;
    background-color: red;
    left: 0;
    bottom: 0;
    margin-left: 7px;
    margin-bottom: 15px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}
#delete:hover::after {
    transform: scaleX(1);
}

#todo {
    border: none;
    background-color: transparent;
    font-size: 17px;
    background: -webkit-linear-gradient(rgb(3, 243, 243),rgb(47, 0, 255) );
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}
#during {
    border: none;
    background-color: transparent;
    font-size: 17px;
    background: -webkit-linear-gradient(rgb(251, 255, 0), rgb(243, 139, 3));
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}

#done {
    border: none;
    background-color: transparent;
    font-size: 17px;
    background: -webkit-linear-gradient(rgb(51, 255, 0), rgb(3, 243, 171));
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}

.taskContainer {
    transform: translate3d(-350px, 0, 0);
    transition-timing-function: linear;
    transition-duration: 0.2s;
    display: block;
    opacity: 0;
}

.taskContainer.animation {
    opacity: 1;
    transform: translate(0%);
}
